/*@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Inconsolata:400);*/
@import "common.css";

#jsonEditor{position:relative;margin:0 0 8px 0;padding:15px;border:1px solid #ddd;background:#eee;border-radius:2px}
keyframes process{0%{background-position:0 0}100%{background-position:-34px 0}}
@-webkit-keyframes process{0%{background-position:0 0}100%{background-position:-34px 0}}
@-moz-keyframes process{0%{background-position:0 0}100%{background-position:-34px 0}}
@-ms-keyframes process{0%{background-position:0 0}100%{background-position:-34px 0}}
@-o-keyframes process{0%{background-position:0 0}100%{background-position:-34px 0}}
@-khtml-keyframes process{0%{background-position:0 0}100%{background-position:-34px 0}}

h1{font-size:1.5em}

.json_init{font-size:11px;padding:2px;cursor:pointer;position:relative;display:inline-block;border:1px solid #B6B6B6;background-image:linear-gradient(59deg,#fff 25%,#d2d2d2 25%,#d2d2d2 50%,#fff 50%,#fff 75%,#d2d2d2 75%,#d2d2d2 100%,#fff 100%);background-image:-webkit-linear-gradient(59deg,#fff 25%,#d2d2d2 25%,#d2d2d2 50%,#fff 50%,#fff 75%,#d2d2d2 75%,#d2d2d2 100%,#fff 100%);background-image:-moz-linear-gradient(59deg,#fff 25%,#d2d2d2 25%,#d2d2d2 50%,#fff 50%,#fff 75%,#d2d2d2 75%,#d2d2d2 100%,#fff 100%);background-image:-o-linear-gradient(59deg,#fff 25%,#d2d2d2 25%,#d2d2d2 50%,#fff 50%,#fff 75%,#d2d2d2 75%,#d2d2d2 100%,#fff 100%);background-image:-ms-linear-gradient(59deg,#fff 25%,#d2d2d2 25%,#d2d2d2 50%,#fff 50%,#fff 75%,#d2d2d2 75%,#d2d2d2 100%,#fff 100%);background-image:-khtml-linear-gradient(59deg,#fff 25%,#d2d2d2 25%,#d2d2d2 50%,#fff 50%,#fff 75%,#d2d2d2 75%,#d2d2d2 100%,#fff 100%);border-radius:2px;background-size:100% 20px;color:#000;text-shadow:0px 1px 0px #fff;text-align:center;width:35px;vertical-align:top;transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;animation:process 1s infinite linear}
.json_init:focus:before{content:"";border:1px solid #4D90FE;position:absolute;left:-1px;top:-1px;width:33px;height:17px;border-radius:2px}

.json_op{position:absolute;white-space:nowrap;top:-4px;font-size:12px;left:100%;margin-left:6px;display:none;background:#fff;border:1px solid #ddd;border-radius:2px}
.json_op>i{padding:0px 2px;font-style:normal;border-right:1px solid;display:inline-block}
.json_op>i:last-child{border-right:0}
.json_op>i:hover{background:#000;color:#fff}
.json_op>.op{padding:4px;display:inline-block;border-right:1px solid #ddd;color:#4C4C4C;text-shadow:0 0;background-color:#fff;height:23px;line-height:10px}
.json_op>.op:first-child:hover:before,.json_op >.op:first-child:focus:before{border-color:transparent #E8E8E8}
.json_op>.op:first-child:before{content:"";border-width:5px;border-color:transparent #ddd;border-left:0;border-style:solid;right:100%;position:absolute;top:6px}
.json_op:after{content:"";position:absolute;top:6px;border-width:5px;border-style:solid}
.json_op:before{border-color:transparent #ddd;border-left:0;right:100%}
.json_op:after{border-color:transparent #fff;border-left:0;right:100%;margin-right:0}
.json_op>.op:last-child{border-right:0}
.json_op>.op:hover,.json_op>.op:focus{background-color:#E8E8E8}
.json_op>.op:hover{color:#000}

.json_editor{overflow:auto;max-height:600px;padding-left:8px}
.json_editor:hover .add_obj,.json_editor:hover .remove{opacity:0.4}

.json_block.iobj:before{content:"{";vertical-align: top;font-size:16px}
.json_block.iobj:after{content:"}";vertical-align: top;font-size:16px}
.json_block.iarr:before{content:"[";vertical-align: top;font-size:16px}
.json_block.iarr:after{content:"]";vertical-align: top;font-size:16px}
.json_block >.key_holder > .key_row:last-child > .val:after{display:none}
.json_block >.key_holder > .key_row:last-child > .obj > .iobj:after{content:"}";font-size:16px}
.json_block >.key_holder > .key_row:last-child > .obj > .iarr:after{content:"]";font-size:16px}
.json_block{position:relative}
.json_block.iobj > .path,.json_block.iarr > .path{left:0;top:0;margin-left: 24px;}
.json_block.row_collapse > .collapse {background: #881391}
.json_block.row_collapse > .key_holder {display: none}
.json_block.row_collapse >.add_obj {display: none}
.json_block.row_collapse >.path {margin-left: 30px!important}

.key_holder{padding:0 0 0 18px;border:1px solid #EEEEEE}
.key_holder.to_add{background-color:#F7F7F7;border:1px dashed #CCCCCC;border-radius:2px}
.key_holder.to_add .key_holder{border-color:#F7F7F7}
/*.key_holder > div:last-child{margin-bottom: 0}*/
.key_holder.to_add .key_holder .line:before,.key_holder.to_add .key_holder .line:after{background-color:#F7F7F7}

.key_row{margin:6px 0;position:relative;white-space: nowrap;}
.key_row:after,.key_row:before{content:"";display:table;clear:both}
.key_row.row_collapse >.val >.json_block >.key_holder{display: none;}
.key_row.row_collapse >.key .path {margin-left: 38px;}
.key_row.row_collapse >.val >.json_block >.add_obj{display: none}
.key_row.row_collapse .collapse {background: #881391}
.key_row.row_collapse .collapse:hover {background: #979797}
.key_row.row_collapse>.val>.json_block.iarr>.path,
.key_row.row_collapse>.val>.json_block.iobj>.path {margin-left: 30px}

.key{float:left;position:relative;z-index:2}
.key:after{content:":"}

.val:after{content:","}
.val.obj:after{content:""}
.val.obj >.iobj:after{content:"},";letter-spacing:-2px;font-size:16px}
.val.obj >.iarr:after{content:"],";letter-spacing:-2px;font-size:16px}
.val.nonobj > .json_block{display:inline}

.objtxt{border:1px solid #ddd;min-width:10px;border-radius:2px;vertical-align:middle;padding:0 2px;font-size:12px;background:#fff;color:#881391;line-height:18px;height:20px;vertical-align:top;/*text-shadow:0 0 0px #000;*/}
.objtxt[contenteditable]{display:inline-block;position:relative;z-index:1}
.objtxt:active,.objtxt:focus{background:#fff;border:1px solid #4D90FE!important}
.objtxt:empty:before{content:"Key";color:#B3B3B3}
.objtxt.invalid{border:1px solid #b22;box-shadow: 0 0 5px rgba(187, 34, 34, 0.5)}
.objtxt.invalid:before{content:"\f071";font-family: FontAwesome;position: absolute;right: 100%;top: 0;margin-right: 5px;color: #DAA520;text-shadow: 1px 1px 1px #fff}
.objtxt:hover,.objval:hover{border-color: #a9a9a9}

.add_obj{position:absolute;bottom:2px;left:14px;height:12px;width:12px;cursor: pointer;text-align: center;color: #909090;background: #EEE;text-shadow: 1px 1px 1px #fff}
.add_obj:before {content: "\f055";font-family: fontAwesome;font-size: 12px;float: left;}
.add_obj,.remove{opacity:0}
.add_obj:hover,.remove:hover{opacity:1!important}
.add_obj:hover{color:#2ECC71;}

.objval:active,.objval:focus{background:#fff;border:1px solid #4D90FE}
.objval{border:1px solid #ddd;min-width:10px;border-radius:2px;vertical-align:middle;padding:0 2px;font-size:12px;background:#fff;color:#C41A16;line-height:18px;height:20px;vertical-align:top;white-space: nowrap;}
.objval.str:before,.objval.str:after{content:"'"}
.objval.num{color:#1C00CF}
.objval.str{color:#C41A16}
.objval[contenteditable]{display:inline-block;position:relative;z-index:1}
.objval.str:empty:before{content:"'String";color:#B3B3B3}
.objval.str:empty:after{content:"'";color:#B3B3B3}
.objval.num:empty:before{content:"Number";color:#B3B3B3}
.objval.bool {height: 20px;display: inline-block;color: #FFFFFF;border: 1px solid #939393;background: #C0C0C0;border-radius: 2px;text-shadow: 1px 0px 1px #3A3A3A;cursor: pointer;}

.remove{position: absolute;width: 12px;height: 12px;z-index: 2;left: -14px;top: 5px;cursor: pointer;text-align: center;color: #909090;background: #EEE;text-shadow: 1px 1px 1px #fff;}
.remove:hover{color:#b22;}
.remove:before {content: "\f057";font-family: fontAwesome;font-size: 12px;display: inline-block;vertical-align: top;}

.line{position:absolute;width:0px;left:-8px;top:0;height:100%;border-left:1px dotted #000}
.line:before{content:"";left:-1px;top:0;position:absolute;width:6px;height:10px;border-bottom:1px dotted #000;background-color:#EEEEEE}
.line:after{content:"";left:-1px;bottom:0;position:absolute;width:6px;height:8px;border-top:1px dotted #000;background-color:#EEEEEE}

.fb_like{margin:12px 0}

.path{position:absolute;left:100%;height:16px;line-height:15px;font-size:11px;margin-left:12px;margin-top:3px;color:#BDBDBD;text-shadow:0px 1px 0px #FFF;z-index:1;white-space:nowrap}
.path:hover{color:#000}

.info{color:#2A2A2A;font-size:15px}
.info .ref{font-size:11px;font-style:italic}

.result{width:100%;border-radius:2px;resize: none;overflow-x: auto;overflow-y: hidden;white-space: pre;font-size:14px;line-height: inherit;background-color: transparent;position: relative;vertical-align: middle;}

.new-json {position: absolute;top: 0;right: 0;margin: 8px;z-index: 3;}
.new-json:before {content: "\f005";font-family: FontAwesome;margin-right: 4px;color:#DAA520;}

.parse_error {float: right;color: #FFFFFF;font-size: 12px;background: #b22;padding: 2px 4px;border-radius: 2px;}
.parse_error:before {content: "\f071";font-family: FontAwesome;margin-right: 4px;}

.error-line {position: absolute;left: -15px;top: -25px;background:-webkit-linear-gradient(#909090,#5a5a5a);border:1px solid #616161;color:#fff;font-size:12px;padding:0 6px;height:20px;line-height:18px;font-family:monospace;border-radius:2px;cursor:default}

.tip{display: block;font-size: 12px;background: #808080;color: #fff;padding: 6px;border: 1px solid #616161;border-radius: 2px;margin-top: 6px}
.tip > .t-point {display: inline-block;padding-left: 14px;margin: 3px 0;}

.t-point:before {content: "\f05a";font-family: FontAwesome;margin-right: 4px;margin-left: -14px;}
.t-point:first-child {margin-top: 0;}
.t-point:last-child {margin-bottom: 0;}

.expand, .collapse{display: none;width: 8px;height: 8px;background: #881391;vertical-align: middle;border-radius: 50%;border: 1px solid #fff;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);cursor: pointer;}
.collapse{display: inline-block;background: #979797;}
.collapse:hover {background-color: #881391;}

.key .path {margin-left: 24px;}

/* advance option */
.option_tray {display: none;position: absolute;left: 0;bottom: calc(100% + 1px);z-index: 3;background: #D0D0D0;border: 1px solid #B9B9B9;border-radius: 2px;color: #7B7B7B;padding: 0;text-shadow: 0px 1px 0px #fff;white-space: nowrap;}
.op_item>.ops {line-height: normal;}
.op_item{font-size: 12px;text-align: center;vertical-align: top;padding: 0 4px;display: inline-block;line-height: 20px;height: 20px;border-right: 1px solid #E6E6E6;border-left: 1px solid #B5B5B5;border-width: 0px 1px;}
.op_item:last-child{border-right:0}
.op_item:first-child{border-left:0}
.op_item:hover{color:#000}

.ops.remove_obj:before{content: "\f057";font-family: fontAwesome;}
.ops.reset_obj:before{content: "\f01e";font-family: fontAwesome;}
.ops.clone_obj:before {content: "\f24d";font-family: fontAwesome;}
/* advance option */

.inp {height: 25px;width: 300px;border: 1px solid #ddd;vertical-align: top;padding: 2px 6px}
.inp:focus {border: 1px solid #881391;box-shadow: 0 0 8px rgba(136, 19, 145, 0.53)}
.inp.err {border-color: #b22;box-shadow: 0 0 8px rgba(187, 34, 34, 0.51)}
textarea.inp {height: 100px}

.myform>.row>label {vertical-align: top;width: 100px;display: inline-block;text-align: right;margin-right: 10px;min-height: 1px}
.myform>.row {margin-bottom: 6px;position: relative}
.myform {text-align: center}
.myform>.row:last-child {margin-bottom: 0}

.sendmsg {background-color: #fff;height: 30px;width: 100px;border: 1px solid #ddd}
.sendmsg:focus {border: 2px solid #881391}

.mypk{background-image: url(../images/me.jpg);background-size: 100%;width: 40px;height: 40px;display: inline-block;vertical-align: middle;border-radius: 50%;border: 2px solid #000;margin-right: 4px;}
.contactus{margin-top:50px}

.linkedin {font-size: 11px;float: right;margin-top: 12px;color: #000}
.linkedin:before {content: "\f0e1";font-family: FontAwesome;margin-right: 5px;display: inline-block;width: 15px;height: 15px;text-align: center;line-height: 15px;border-radius: 2px;background-color: #881391;color: #fff}

.errm {border: 1px solid #b22;display: inline-block;width: 375px;font-size: 14px;padding: 4px;background-color: rgba(187, 34, 34, 0.54);color: #fff;border-radius: 2px;text-shadow: 0 1px 0px #b22}

/* texteditor css */
.text-area-wrap {background-color: #fff;border: 1px solid #ddd;padding: 8px 8px 8px 15px;margin-top: 8px;position: relative;line-height: 20px}
.line-number-group {position: absolute;top: 0;left:0;width: 100%;line-height: inherit;padding-top: 8px}
.line-number-group .line-number {display: block;padding-left: 6px}
.line-number:nth-child(2n + 1) {background-color: #fafafa}
.line-number {background-color: #ebebeb}
.line-number.error {background-color: #fffbe6;border-top: 1px solid #fff2af;border-bottom: 1px solid #fff2af;box-sizing: border-box;height: 20px}
.line-number.error:after {content: "\f05a";font-family: FontAwesome;font-size: 14px;vertical-align: text-top;display: inline-block;margin-left: 4px;color: #f4bd00;}
/* texteditor css */